body {
    background-image: url('./images/mobileBackground.jpg');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: 50% -20%;
}
.nextButton, body, .results {
    text-align: center;
}
#myVideo, .results, form{
    display: none;
}
.logoText{ /*styling for BetterMedic text*/
    font-family: 'Cinzel', serif;
    color: #003399;
}
.title, .results h2, .results h4 { 
    font-family: 'Alike', serif;
} 
.symptomsPage, .issuesPage { /* styling for checkbox text*/
    font-family: 'Gentium Book Basic', serif;
}
.issuesPage h2, .symptomsPage h2, .results h2 {
    font-size: 14px;
}
.results h4{
    font-size: 10px;
}
.results {
    font-family: 'Raleway', sans-serif;
    font-size: 10px
}
.genInfo {
    border-color: #2E88C4;
}
.symptomsPage, .issuesPage, .results{
    background-image: url('./images/caduceus.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    margin: auto;
    display: none;
    width: 85%;
    height: 85%;
    border: 2px solid #2E88C4;
}
.container {
    height: auto;
    width: 95%;
    background-color: white;
    position: fixed;
    bottom:0%;
}   
.next, .startOver{
    margin-top: 10px;
}
.currentLocation, .latitude, .longitude, .next, .welcomeButton, .zip, .age, .container {
    font-size: 10px;
}
.results, .container, .welcomeButton {
    border: 2px solid #2E88C4;
} 
.welcomeButton{
    background-color: #99c2ff;
}
form {
    border: 2px solid black;
    padding: 20px;
}
form {
    text-align: left;
}
.welcomeButton {
    margin-bottom: 5px;
}
.symptomsColumn, .issuesColumn {
    width: 100%;
}
.apiLogo {
    width: 20%;
    height: auto;
}
@media only screen and (min-width:768px){
    body {
        background-size: 500px 500px;
    }
    .logoText, .genText, .title, .genInfo, .currentLocation, .latitude, .longitude, .next, .welcomeButton, .zip, .age, .container, .issuesPage h2, .symptomsPage h2, .results h2, .results h4{
        font-size: 22.5px;
    }
    .welcomeButton, .symptomsPage, .issuesPage, .results, .startOver{
        font-size: 20px;
    }
    input[type="radio"] {
        transform: scale(2);
    }   
    .symptomsColumn {
        float: left;
        width: 33.33%;
    }
    .issuesColumn {
        float: left;
        width: 50%;
    }
    .nextButton {
        text-align: center;
    }
    h2 {
        width: 100%;
    }
    .results p {
        font-weight: bold;
    }
    .symptomsPage label, .issuesPage label {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1024px) {
    #myVideo {
        display: inline;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
      }
    body {
        background-image: none;
    }
    .container {
        left: 0%;
        bottom: 15%;
        width: 20%;
        height: 700px;
        margin-left: 20px;
        padding: 10px
    }
    form, .container {
        border: none;
    }
    .home, .container {
        background-color: white;
    }
}