
body {
    text-align: center;
    background-image: url('./images/mobileBackground.jpg');
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: 50% -20%;
}
.logoText{
    font-family: 'Cinzel', serif;
    color: #003399;
}
.title {
    font-family: 'Alike', serif;
}
.genText {
    font-family: 'Raleway', sans-serif;
}
.nextButton {
    text-align: center;
}
.welcomeButton {
    margin-bottom: 5px;
}
.caduceusBottomLeft, .caduceusTopRight {
    width:30px;
    height: 30px;
    position: absolute;
}
.caduceusBottomLeft {
    left: 0%;
    bottom: 0%;
}
.caduceusTopRight {
    top: 0%;
    right: 0%;
}
.welcomeButton {
    background-color: #99c2ff;
    border: 2px solid #2E88C4;
}
.currentLocation, .latitude, .longitude, .next, .welcomeButton, .zip, .age{
    font-size: 10px;
}
.next{
    margin-top: 10px;
}
.symptomsPage, .issuesPage {
    font-family: 'Gentium Book Basic', serif;
    font-size: 6.5px;
}
.currentLocation{
    margin-left: 25%;
}
.container {
    height: auto;
    width: 95%;
    background-color: white;
    position: absolute;
    bottom:0%;
    border: 2px solid #2E88C4;
    font-size: 10px;
    }
form {
    text-align: left;
    display: none;
    border: 2px solid black;
    padding: 20px;
}
label{
    padding: 10px;
}
.zip, .age, .latitude, .longitude {
    border: 2px solid black;
}
.genInfo {
    border-color: #2E88C4;
}
.symptomsPage, .issuesPage{
    margin-top: 0;
    display: none;
    width: 85%;
    height: 85%;
    border: 2px solid #2E88C4;
}
.issuesPage{
    padding-top: 0;
    padding-bottom: 0;
}

.symptomsColumn {
    float: left;
    width: 33.33%;
  }
.issuesColumn {
    float: left;
    width: 50%;
}
.results {
    display: none;
    border: 2px solid #2E88C4;
    text-align: left;
}

h2 {
    width: 100%;
}

#myVideo {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
