.currentLocation{
    margin-left: 25%;
}
.zip, .age, .latitude, .longitude {
    border: 2px solid black;
}
.issuesPage{
    padding-top: 0;
    padding-bottom: 0;
}

.symptomsColumn {
    float: left;
    width: 33.33%;
  }
.issuesColumn {
    float: left;
    width: 50%;
}

h2 {
    width: 100%;
}

#myVideo {
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
